html,
body {
    margin: 0;
    overflow: hidden;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 10px;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100vw;
    height: 100vh;
}

#export-button, #switch, #log-params, #debug, #export-simple, #export-simple-amount {
	position:fixed;
	bottom:0;
	right:0;
	border: 1px solid black;
	padding: 5px 10px;
	font-family:sans-serif;	
	z-index: 10000;
}

#export-button:hover, #switch:hover, #log-params:hover {
	cursor: pointer;
}

#log-params {
	right: 100px;
}
#debug {
	right: 200px;
}
#export-simple {
	right: 300px;
}
#export-simple-amount {
	right: 420px;
	width: 70px;
}

#savePresets {
}

#presetName {
	min-width: 100px;
	margin-right: 10px;
}


#ui-row {
	background-color: #eee;
	position: absolute;
	top: 20px;
	left: 0px;
	z-index: 100;
	display: flex;
	width: 100vw;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}


#ui-row.inactive {
	

}

#ui-row.inactive .ui-section > * {
	opacity: .2;
	pointer-events: none;
}

#ui-row.inactive #anim, #ui-row.inactive #anim > * {
	pointer-events: all;
	opacity: 1;
}

#ui-row.inactive .drawingProperties, #ui-row.inactive .projectSaving {
	pointer-events: all;
	opacity: 1;
}

.drawingProperties {
	display: flex;
}

#ui-row.inactive .drawingProperties > * {
	opacity: 1;
}

.ui-section {
	display: flex;
}

.ui-section .ui-control {
	padding: 10px 7px;
	flex-grow: 1;
	border-right: 1px solid #ddd;
	position: relative;
}

.ui-section-label {
	background-color: #ddd;
}

.ui-section-label:hover {
	cursor: pointer;
}

.ui-section-label span{
	display: block;
	transform: rotate(-90deg) translateX(-23px);
	font-weight: bold;
	text-transform: uppercase;
	
}

#ui-row > .ui-control, .anim-control, .anim-basic-control {
	max-width: 80px;
	padding: 10px 7px;
	flex-grow: 1;
	border-right: 1px solid #ddd;
	position: relative;
}

.anim-control {
	max-width: 250px;
}

.ui-control label {
	display: block;
}

.ui-control label span {
	display: inline-block;
	min-width: 30px;
}

#ui-row div.section {
	border-left: 4px solid #bbb;}

#ui-row div input,
#ui-row div select {
	max-width: 70px;
	font-size: 10px;
}

#progress {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	background-color: white;
	background-image: url('images/spinner.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;	
	display: none;
	opacity: .8;
}

#animation-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;	
	background-color: #eee;
	width: 100vw;
	display: flex;	
}

#animation-controls > div {
	padding-right: 10px;
}

.anim-control label, .anim-basic-control label {
	display: block;
}

.anim-actions {
	padding: 15px 10px 5px;
}

.collapseui {	
	position: absolute;
	top:0;
	display: flex;
	background-color: #eee;
}

.collapseui div {
	padding: 5px;
	border-right: 1px solid #ddd;
}

.collapse-button {
	padding: 2px;
	margin-top:4px;
	text-align: center;
	background-color: #ccc;
	position: relative;
	display: block;
}

.collapse-button:hover {
	cursor: pointer;
}

[data-type="color"] {
	display: none;
}

#ui-tabs {
	position: absolute;
	top: 0px;
	width: 100vW;
	display: flex;
	background-color: #ccc;
}

.tab {
	padding: 5px 10px;
}

.tab:hover {
	cursor: pointer;
}

.tab.active {
	background-color: #eee;
}

.brand {
	padding: 5px 10px;
	margin-left: auto;
}

input[type='color'] {
	height: 20px;
}

input[type='number'] {
	width: 30px;
}

.ui-generic {
	padding: 15px 7px;
	flex-grow: 1;
	border-right: 1px solid #ddd;
	position: relative;
}

.override, .animated {
	position:absolute;
	top: 0;
	right:0;
	background-color: #ccc;
	padding: 1px;
}

.animated {
	top:14px;
	background-color: #7ce17e;
}

.animated.active {
	background-color: #ccc;
}

.override:hover, .animated:hover {
	cursor: pointer;
	background-color: #fefefe;
}

.override.active {
	background-color: #eb756c;
}